#teal{color: teal;}
#red{color: red;}
#blue{color: blue;}
#orange{color: orange;}
#purple{color: purple;}
#olive{color: olive;}
#fuchsia{color: fuchsia;}
#green{color: green;}

td.red{background-color: red;}
td.green{background-color: green;}
td.blue{background-color: blue;}
